<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}"
      th:with="title='Cody Page'">

<div id="content" layout:fragment="content">
    <div class="w-50" style="margin:0 auto;">
        <h2>정산 맴버</h2>
        <div class="d-grid gap-3">
            <!-- 정산 user 가 추가/삭제 되는 영역-->
            <div id="user_row"></div>
            <div class="row">
                <h2>금액</h2>
                <div class="input-group mb-3 ms-1 dropdown">
                    <input type="number" id="totalPrice" class="form-control" aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">통화선택
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" id="usd">USD</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="krw">KRW</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin:0 auto;">
                <a class="btn btn-success" id="calculate">정산하기</a>
            </div>
        </div>
    </div>
    <div class="row" style="display: none" id="calcResultTag">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">금액</th>
                </tr>
            </thead>
            <tbody id="resultArea">
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/calc/calcInputEvent.js}" ></script>
</div>
</html>